@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  margin: 110;
  padding: 0;
} */

* {
  margin-top: -3px;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: aqua;
  justify-content: center;
  align-items: center;
}